*{
    margin: 0;
    padding: 0;
}

@import "./base/variables";
@import "./base/extend";
@import "./base/mixin";
@import "./base/maps";
@import "./componentes/footer";
@import "./componentes/navbar";
@import "./componentes/bodyindex";
@import "./componentes/sobrenosotros";
@import "./componentes/productos";
@import "./componentes/contacto";

