/* EXTEND Diplays */

%displayr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

%displayc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

%displayc2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}

%displayr2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


%hero{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1200px;
    margin-top: 0px;
    color: white;
    padding: 50px;

    li{ 
        font-size: 20px;
        list-style: none;
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;

        text-align: center;
    }
}