/* EXTEND Diplays */

%displayr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

%displayc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

%displayc2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

%displayr2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


%hero {

    img {
        width: 100%;
    }


    li {
        color: #7785AC;
        font-size: 20px;
        list-style: none;
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    p {
        color: wheat;
        font-size: 20px;
        padding: 300px;
        text-align: center;
    }
}