$bg-black: rgba(0, 0, 0, 0.37);
$colorfont-principal: blueviolet;
$colorfont-secundario: whitesmoke;
$font-principal: "open sans",
"roboto";
$fsize2: 3rem;
$grosor1: 200;
$grosor2: 600;

/* MIXING */
$backgroundf: rgba(226, 226, 235, 0.171);
$colorf: whitesmoke;
$fontf: "roboto";

